@import url(../../index.css);

.containerProjects{
    background-color: var(--color-text-nav);
    width: 100%;
    padding-bottom: 20px;
}
.title{
    padding-top: 2vh;
    padding-left: 10%;
    margin: 0;
    display: inline-block;
    color: var(--color-secundario);
    text-shadow: 3px 2px 2px var(--color-text-nav-hover);
    font-size: 3em;
    font-family: var(--font-primary);
}
.containerCards{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.cardProject{
    width: 90%;
    padding-bottom: 20px;
    margin-top: 25px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}
.cardProjectView{
    width: 90%;
    margin-top: 25px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .5s;
}
.titleCard{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    color: var(--color-secundario);
    text-shadow: 3px 2px 2px var(--color-text-nav-hover);
    font-size: 1em;
    font-family: var(--font-primary);
}
.cardImage{
    width: 100%;
    object-fit: cover;
}
.textCard{
    font-size: .8em;
    padding-left: 12px;
    padding-right: 12px;
    font-family: var(--font-titles);
}
.buttonCardVisit{
    background-color: var(--color-primario);
    color: var(--color-text-nav);
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}
.buttonCard{
    padding: 10px;
    margin-left: 15px;
    border: 1px solid var(--color-secundario);
    color: var(--color-secundario);
    transition: .2s;
    cursor: pointer;
}
.svgGit{
    width: 20px;
    color: var(--color-text-nav);
}
.buttonCard:active{
    background-color: var(--color-text-nav-hover);
}
@media screen and (min-width:500px) {
    .cardProject{
        width: 70%;
    }
    .cardProjectView{
        width: 70%;
    }
    .cardImage{
        width: 100%;
    }
}

@media screen and (min-width:1000px) {
    .containerProjects{
        height: 80vh;
        overflow: auto;
    }
    .title{
        position: absolute;
        transform: rotate(-90deg);
        top: calc(10vh + 4em);
        left: calc(-3em);
    }
    .containerCards{
        flex-direction: row;
        justify-content: center;
        gap: 3em;
    }
    .cardProjectView{
        width: 50%;
        max-width: 400px;
        animation: loadCardsI 2s;
    }
    .cardProjectView:hover{
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .cardProject{
        max-width: 400px;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        animation: loadCardsI 2s;
        z-index: 1;
    }
    .cardProject:hover{
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .cardImage{
        max-width: 400px;
        width: 100%;
    }
    .textCard{
        min-height: 100px;
        max-width: 400px;
        width: 100%;
    }
}
@keyframes loadCardsI {
    from{
        opacity: 0;
        transform: translateX(-150%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }

}