@import "../../index.css";

.navbar{
    width: 100%;
    font-family: var(--font-primary);
    position: fixed;
    font-size: 16px;
}
.info{
    background-color: var(--color-primario);
    width: 100%;
    height: 10vh;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}
.menu{
    color: var(--color-text-nav);
    font-size: 2em;
    cursor: pointer;
}
.logo{
    color: var(--color-text-nav);
    font-size: 1.5em;
    font-weight: 700;
}
.linksContainer{
    background-color: var(--color-secundario);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    gap: 0.5em;
    transition: 0.5s;
    margin-top: 10vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.link{
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text-nav);
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
}
.inactive{
    transform: translateY(-150%);
}
.active{
    transform: translateX(0%);
}
.link:hover{
    color: var(--color-text-nav-hover);
    background-color: var(--color-primario);
}

@media screen and (min-width: 1000px) {
    .menu{
        display: none;
    }
    .linksContainer{
        transform: translateY(0%);
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        width: 50%;
        position: relative;
        margin-top: 0;
        z-index: 1;
    }
    .logo{
        padding-left: 1em;
    }
    .link{
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
    }
    .link:hover{
        background-color: var(--color-secundario);
    }
}