@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
#root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 10vh;
}
.header{
    grid-row: 1 /2;
}
.main{
    grid-row: 2 / 3;
}
.footer{
    grid-row: 3 / 4;
}
:root{
    /* Colores para la pagina */
    --color-primario: #000000;
    --color-secundario: #1F1F1F;
    --color-secundario-hover: rgb(37, 37, 37);
    --color-text-nav: #FFF;
    --color-text-nav-hover:rgb(218, 180, 110);
    --color-primario-transparent:rgba(5, 5, 5,.7);
    /* Estilos par el texto */
    --font-primary: 'Comfortaa', cursive;
    --font-titles: 'Kanit', sans-serif;
}