@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
#root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 10vh;
}
.header{
    grid-row: 1 /2;
}
.main{
    grid-row: 2 / 3;
}
.footer{
    grid-row: 3 / 4;
}
:root{
    /* Colores para la pagina */
    --color-primario: rgb(48, 48, 48);
    --color-secundario: rgb(85, 85, 85);
    --color-secundario-hover: rgb(37, 37, 37);
    --color-text-nav: wheat;
    --color-text-nav-hover:rgb(218, 180, 110);
    /* Estilos par el texto */
    --font-primary: 'Comfortaa', cursive;
}